@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --radius: 0.6rem;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ffffff;
    color: #0f172a;
  }
}
